body {
    font-family: Arial, sans-serif;
    background-color: #a6b1e1;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #111;
}

.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #111;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #424874;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #424874;
}

.sell-section, .buy-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #a6b1e1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
